version: '3.8'

services:
  db_new:
    image: postgres:15-alpine
    container_name: projects-db-new
    environment:
      - POSTGRES_DB=projects_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_new:/var/lib/postgresql/data
    networks:
      - projects-network

  app:
    build: .
    container_name: projects-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db_new:5432/projects_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
      - JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    depends_on:
      - db_new
    networks:
      - projects-network

networks:
  projects-network:
    driver: bridge

volumes:
  postgres_data_new:
